.font-10-500 {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}
.font-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.font-14-600 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.font-24-600 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.font-16-600 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.font-12-500 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.font-18-600 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.font-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.font-12-600 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.font-20-600 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.font-16-400 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.font-48-600 {
  font-size: var(--Font-Size-5xl, 40px);
  font-style: normal;
  font-weight: var(--Font-Weight-SemiBold, 600);
  line-height: var(--Line-Height-4xl, 48px); /* 100% */
  letter-spacing: var(--Lettter-Spacing-none, 0px);
}

.font-60-600 {
  font-size: var(--Font-Size-6xl, 50px);
  font-style: normal;
  font-weight: var(--Font-Weight-SemiBold, 600);
  line-height: var(--Line-Height-5xl, 60px);
  letter-spacing: var(--Lettter-Spacing-none, 0px);
}

.font-18-400 {
  font-size: var(--Font-Size-lg, 18px);
  font-style: normal;
  font-weight: var(--Font-Weight-Regular, 400);
  line-height: var(--Line-Height-lg, 28px); /* 155.556% */
  letter-spacing: var(--Lettter-Spacing-none, 0px);
}
